.rodape{ 
    background-color:#0A0909;
    height: 123px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px
}

ul{
    text-decoration: none;
    list-style-type: none;
}

.iconeFooter{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 125px;
}